body{
    margin: 0;
    display: flex;
    background: rgb(207, 205, 205);
    align-items: center;
    justify-content: center;
}

.container{
    background: rgb(172, 173, 171);
    box-shadow: 5px 5px 5px rgb(23, 22, 24);
    display: inline-block;
    height: 20rem;
    width: 30rem;
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

#username, #projectTitle{
    margin: 5px;
    padding: 3px;
    border-radius: .5rem;
    border: white;
}

#password {
    margin: 5px;
    padding: 3px;
    margin-top: 10px;
    border-radius: .5rem;
    border: white;
}
#aForm {

    align-items: center;
    justify-content: center;
    display: inline-block;
    border-radius: .5rem;
    border: white;
}

.btn1, .btn2{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    color: #3498db;
    background-color: white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.btn1:hover , .btn2:hover{
    background-color: #3498db;
    color: white;
    cursor: pointer;
}

#description {
    height: 3rem;
    width: 13rem;
    border-radius: .5rem;
    border: white;
}

#imageUp {
    margin: .5rem;
}